In [ ]:
# Step 1: Import required libraries
import pandas as pd

# Step 2: Create pandas DataFrame
data = {
    'Order ID': [101, 102, 103, 104, 105],
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Printer'],
    'Quantity': [2, 5, 3, 1, 4],
    'Price': [55000, 800, 1500, 12000, 7000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# Step 3: Calculate Total Sale per order
df['Total Sale'] = df['Quantity'] * df['Price']
print("\nDataFrame with Total Sale:\n", df)

# Step 4: Filter orders with Total Sale > 1000
high_value_orders = df[df['Total Sale'] > 1000]
print("\nOrders with Total Sale > 1000:\n", high_value_orders)

# Step 5: Find most sold product using groupby
most_sold = df.groupby('Product')['Quantity'].sum().idxmax()
print("\nMost Sold Product:", most_sold)

# Step 6: Add Discount column based on sale amount
df['Discount'] = df['Total Sale'].apply(lambda x: 0.1*x if x > 20000 else 0.05*x)
print("\nDataFrame with Discount:\n", df)

# Step 7: Export summary to Excel
df.to_excel("sales_summary.xlsx", index=False)
print("\nSales summary exported to 'sales_summary.xlsx'")

Original DataFrame:
    Order ID   Product  Quantity  Price
0       101    Laptop         2  55000
1       102     Mouse         5    800
2       103  Keyboard         3   1500
3       104   Monitor         1  12000
4       105   Printer         4   7000

DataFrame with Total Sale:
    Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         2  55000      110000
1       102     Mouse         5    800        4000
2       103  Keyboard         3   1500        4500
3       104   Monitor         1  12000       12000
4       105   Printer         4   7000       28000

Orders with Total Sale > 1000:
    Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         2  55000      110000
1       102     Mouse         5    800        4000
2       103  Keyboard         3   1500        4500
3       104   Monitor         1  12000       12000
4       105   Printer         4   7000       28000

Most Sold Product: Mouse

DataFrame with Discount:
    Order ID   Product  Quantity  Price  Total Sale  Discount
0       101    Laptop         2  55000      110000   11000.0
1       102     Mouse         5    800        4000     200.0
2       103  Keyboard         3   1500        4500     225.0
3       104   Monitor         1  12000       12000     600.0
4       105   Printer         4   7000       28000    2800.0

Sales summary exported to 'sales_summary.xlsx'

In [ ]:
import pandas as pd

data = {
    "OrderID": [101, 102, 103, 104, 105],
    "Product": ["Laptop", "Phone", "Tablet", "Laptop", "Phone"],
    "Quantity": [2, 5, 3, 1, 10],
    "Price": [50000, 15000, 20000, 50000, 15000]
}

df = pd.DataFrame(data)
df["TotalSale"] = df["Quantity"] * df["Price"]
high_sales = df[df["TotalSale"] > 1000]
most_sold = df.groupby("Product")["Quantity"].sum().idxmax()
df["Discount"] = df["TotalSale"].apply(lambda x: x * 0.1 if x > 40000 else x * 0.05)

summary = df.groupby("Product").agg({"Quantity": "sum", "TotalSale": "sum", "Discount": "sum"})
summary.to_excel("sales_summary.xlsx")

print("Full Data:\n", df)
print("\nOrders with Total Sale > 1000:\n", high_sales)
print("\nMost Sold Product:", most_sold)
print("\nSales Summary:\n", summary)

Full Data:
    OrderID Product  Quantity  Price  TotalSale  Discount
0      101  Laptop         2  50000     100000   10000.0
1      102   Phone         5  15000      75000    7500.0
2      103  Tablet         3  20000      60000    6000.0
3      104  Laptop         1  50000      50000    5000.0
4      105   Phone        10  15000     150000   15000.0

Orders with Total Sale > 1000:
    OrderID Product  Quantity  Price  TotalSale
0      101  Laptop         2  50000     100000
1      102   Phone         5  15000      75000
2      103  Tablet         3  20000      60000
3      104  Laptop         1  50000      50000
4      105   Phone        10  15000     150000

Most Sold Product: Phone

Sales Summary:
          Quantity  TotalSale  Discount
Product
Laptop          3     150000   15000.0
Phone          15     225000   22500.0
Tablet          3      60000    6000.0